.rootContainer {
  display: grid;
  grid-template-columns: auto;
}

// 3840 x 2160
// 1,777777778

@media (min-aspect-ratio: 16/9) {
  .videoBackground {
    width: 100vw !important;
  }
}

@media (max-aspect-ratio: 16/9) {
  .videoBackground {
    height: 100vh !important;
  }
}

.bgContainer {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  justify-content: center;
}

// .flexVideoContainerWraper {
//   /*! */
//   // width: 100%;
//   display: block;
// }

.flexVideoContainer {
  order: 1;
}

.videoBackground {
  justify-content: center;
  z-index: -1;
}

.divSvgContainerWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

%svgContainerBase {
  grid-column: 1;
  grid-row: 1;
  border-radius: 3em;
  grid-column: 1;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    height: 80vh;
  }
}

.svgContainerEmpty {
  @extend %svgContainerBase;
}

.svgContainerFull {
  @extend %svgContainerBase;
  background-color: hsl(229.85deg 32.57% 46.44% / 42%);
}
