.rootContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bgContainer {
  position: absolute;
}

.svgContainerEmpty {
  position: absolute;
}

.svgContainer {
  position: absolute;
  background-color: hsl(229.85deg 32.57% 46.44% / 42%);
  border-radius: 51px;
  padding: 25px;
}
