.outerDiv {
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  align-self: center;
}

.innerDiv {
  border: 0.1em solid rgb(0, 250, 71);
  width: 85vh;
  // aspect-ratio: 1 / 1;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
